/** Colors */

$brand-primary : #8d8d8d;

@mixin breakpoint($point) {
  @if $point == md_pc {
    @media only screen and (max-width: 1200px) { @content; }
  }

  @else if $point == md_pc_max {
    @media only screen and (max-width: 1440px) { @content; }
  }

  @else if $point == md_pc_2 {
    @media only screen and (max-width: 1366px) { @content; }
  }

  @else if $point == sm_pc {
    @media only screen and (max-width: 1024px) { @content; }
  }

  @else if $point == sm_pc_2 {
    @media only screen and (max-width: 1000px) { @content; }
  }

  @else if $point == tablet {
    @media only screen and (max-width: 768px) { @content; }
  }

  @else if $point == tablet_min {
    @media only screen and (min-width: 768px) { @content; }
  }

  @else if $point == mobile {
    @media only screen and (max-width: 480px) { @content; }
  }
}
