footer {
  background: #4fb3a7;

  .social {
    background: #818181;
    color: #fff;
    height: 60px;
    padding: {
      top: 15px;
      bottom: 15px;
    }

    margin-bottom: 25px;

    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      margin: 0;

      li {
        display: inline-block;
        margin: auto 35px;

        a {
          color: #fff;
        }
      }
    }
  }

  .nav {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;

    li {
      margin: auto;
    }

    a {
      display: block;
      padding: 0.5em 1em;
      color: #fff;
    }
  }

  .logos {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 50px;

    .brand {
      display: block;
      position: relative;
      max-width: 180px;
      width: 100%;
      margin: 40px auto 0;
    }
  }

  .bio {
    position: absolute;
    right: 0;
    bottom: 50px;
  }
}
