.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  .brand {
    display: block;
    position: relative;
    margin: 100px auto 50px;
    max-width: 180px;
    width: 100%;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  .logo-xs {
    display: none;

    @include breakpoint(tablet) {
      display: block;

      img {
        float: left;
      }
    }
  }

  nav {
    text-align: center;

    #navbar {
      div {
        display: block;
        margin: auto;

        &.bio {
          max-width: 100px;
        }
      }
    }

    button {
      span {
        width: 30px;
        height: 4px;
        border-radius: 1px;
        display: block;
        background: #01ae9c;
        transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        opacity: 1;

        &.icon-bar + .icon-bar {
          margin-top: 4px;
        }
      }
      padding: {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      margin: {
        top: 15px;
      }
    }
  }

  .nav {
    display: block;
    padding: {
      top: 40px;
      bottom: 40px;
    }

    li {
      text-transform: uppercase;
      font-size: 9pt;
      display: inline-block;

      &.carrito {
        a {
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            right: -10px;
            bottom: 9px;
            top: 0;
            margin: auto;
            width: 33px;
            height: 20px;
            background: {
              repeat: no-repeat;
              size: 33px 20px;
              position: center center;
              image: url('../images/carrito.png');
            }

            @include breakpoint(tablet) {
              left: 0;
              right: -24%;
            }
          }
        }
      }

      @include breakpoint(tablet) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

